  
    .card-header-title {
      margin-left: 12px;
    }
    
    .card-header-time {
      margin-left: auto;
      margin-top: 12px;
    }
    
    .card-title {
      font-size: 20px;
      padding-top: 10px;
      padding-left: 10px;
    }
    
    .card-text {
      font-size: 16px;
      padding-left: 10px;
    }
    
    .card-action {
      flex: 1;
    }
    
    .comment-count {
      position: relative;
      right: 19px;
    }
    
    
    
  