.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    background-color: #f0f0f0;
    padding: 20px;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    align-items: center;
}

@media (min-width: 768px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-column {
    flex: 1;
    margin-right: 10px;
}

mat-form-field {
    width: 100%;
}

button[type="submit"] {
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 767px) {
    .content {
        grid-template-rows: repeat(5, auto);
    }
    .form-row {
        flex-direction: column;
    }
  
}
