<nav class="navbar">

  <img class="logo-image" src="../assets/images/logo.png" alt="logo" />

  <div class="hamburger" id="hamburger" (click)="toggleMenu()">
    <div class="line one"></div>
    <div class="line two"></div>
    <div class="line three"></div>
  </div>
  <ul class="lists" id="lists">
    <li><a  [routerLink]="['/posts']">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>


<div class="main-content">
 <br><br><br><br>
  <div class="com">
    <router-outlet></router-outlet>
  </div>


</div>